/* Estilo padrão para telas grandes */
.letter {
  display: block;
  width: 34%;
  max-width: 900px;
  position: relative;
  perspective: 1000px;
  line-height: 1.5;
  padding: 4em 2em;
  margin: 8rem auto;
  font: normal 400 0.98rem/1.5 "Goudy Bookletter 1911", sans-serif;
  color: rgba(128, 96, 58, 0.849);
  background-color: #fdf5e6; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 500;
  text-align: justify;
}

.letter:before,
.letter:after {
  content: '';
  display: block;
  width: calc(100% + 10px);
  margin-left: -5px;
  padding-bottom: 75px;
  background-color: #fdf5e6; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  z-index: 0;
}

.letter:before {
  transform: rotateX(-30deg);
  top: -72px;
  left: 0;
  background-color: #fdf5e6; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.letter:after {
  transform: rotateX(30deg);
  bottom: -72px;
  left: 0;
  background-color: #fdf5e6; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
  margin-bottom: 1.5rem;
}

h2 {
  text-align: center;
  font: normal 400 2.3rem/1.5 "Goudy Bookletter 1911", sans-serif;
  margin-bottom: 1rem;
}

p {
  padding: 0 3rem;
}

@media (max-width: 1024px) {
  .letter {
    width: 70%;
    margin: 8rem auto;
    padding: 3em 1.5em;
  }

  h2 {
    font-size: 2rem;
  }

  p {
    padding: 0 2rem;
  }
}

@media (max-width: 768px) {
  .letter {
    width: 85%;
    margin: 7rem auto;
    padding: 2.5em 1.5em;
  }

  h2 {
    font-size: 1.8rem;
  }

  p {
    padding: 0 1.5rem;
  }
}

@media (max-width: 480px) {
  .letter {
    width: 89%;
    margin: 7rem auto;
    padding: 3em 1.5em;
  }

  .letter:before,
  .letter:after {
  width: calc(100% + 6px);
  margin-left: -4px;
  padding-bottom: 75px;
  background-color: #fdf5e6; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  z-index: 0;
  }

  h2 {
    font-size: 1.5rem;
  }

  p {
    padding: 0 1rem;
  }
}
