.chapter-view {
  width: 100%;
  max-width: 800px;
  background-color: oldlace;
  background: linear-gradient(90deg, rgb(218, 211, 201), rgb(242, 233, 219) 5%, oldlace 15%);
  margin: 0 auto;
  padding: 1rem 6rem;
  padding-bottom: 60px;
  position: relative;
}

h1 {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 20px;
  font-weight: normal;
}

.heading {
  text-align: center;
}

.chapter_num {
  font-size: 1.2rem;
  margin-top: 50px;
  margin-bottom: 50px;
  text-transform: uppercase;
  text-align: center;
}

.chapter_num:before,
.chapter_num:after {
  content: "- ";
}

.chapter_title {
  font-size: 2rem;
  font-style: italic;
  margin-bottom: 40px;
}

.copy p {
  font-size: 1rem;
  margin: 0 20px;
  line-height: 1.9em;
  text-align: center;
}

.copy p + p {
  text-indent: 20px;
}

.chapter_curl {
  width: 40px;
  height: 40px;
  top: 0;
  right: -1px;
  background-color: #333;
  box-shadow: -1px 2px 7px #0000008a;
  position: absolute;
  background: linear-gradient(45deg, #fff, oldlace 45%, #ddd 50%, rgb(5,5,24) 10%);
  transition: all .5s ease;
}

.chapter_curl:hover {
  width: 60px;
  height: 60px;
  right: 10px;
}

.audio {
  margin-top: 25px;
}

.challenges-section {
  margin-top: 20px;
}

.challenges-section ul {
  list-style-type: none;
  padding: 0;
}

.challenges-section li {
  margin-bottom: 10px;
  text-decoration: underline;
}

.challenges-section a {
  text-decoration: none;
  color: #463f1ccc;
  font-weight: bold;
}

.challenges-section a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .chapter-view {
    padding: 10px;
  }

  .chapter_curl {
    right: 15px;
  }
}

@media screen and (max-width: 576px) {
  .chapter-view {
    padding: 10px;
  }

  .chapter_curl {
    width: 50px;
    height: 50px;
    right: 10px;
  }

  .copy p {
    font-size: 0.875rem;
    margin: 0;
  }
}

@media screen and (max-width: 480px) {
  .chapter-view {
    padding: 5px;
    width: 340px;
  }

  .chapter_curl {
    width: 40px;
    height: 40px;
    right: -1px;
  }

  .copy p {
    font-size: 1rem;
    margin: 0;
  }
}
