.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(150, 148, 141, 0.116);
    color: white;
    padding: 1rem;
    font: normal 500 1.8rem/1.5 "Goudy Bookletter 1911", sans-serif;
    box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.185);
    margin: 5rem 2rem;
    clip-path: polygon(10% 0%, 90% 0%, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0% 90%, 0% 10%);
    max-width: 50%;
    margin: 2rem auto;
}

.menu {
    display: flex;
    gap: 3rem;
}

.menu a {
    color: rgba(128, 96, 58, 0.849);
    text-decoration: none;
    transition: opacity 0.3s ease;
}

.menu a:hover {
    opacity: 0.8;
    text-decoration: underline; 
}

@media screen and (max-width: 686px) {
    .menu {
        padding: 0.5rem;
        font: normal 500 1.3rem/1.5 "Goudy Bookletter 1911", sans-serif;
        max-width: 75%;
    }
    
}

@media screen and (max-width: 630px) {
    .menu {
        padding: 0.5rem;
        font: normal 500 1.3rem/1.5 "Goudy Bookletter 1911", sans-serif;
        max-width: 75%;
    }
}

@media screen and (max-width: 356px) {
    .menu {
        padding: 0.5rem;
        font: normal 500 1.3rem/1.5 "Goudy Bookletter 1911", sans-serif;
        max-width: 75%;
    }
}